.App {
  text-align: center;
  padding-bottom:60px;
}

.footer {
  margin: auto;
  width: auto;
  color: white;
  background-color: black;
  padding: 15px;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}

.susAlert {
  margin-bottom: 30px;
  padding-bottom:30px;
}
